<div class="col-md-6 col-md-offset-3 text-center">
  <h1>Fire{ng}ram</h1>
  <h2>Real-time Instagram</h2>

  <div class="panel panel-default">
    <div class="panel-heading">Autentique-se</div>
    <div class="panel-body">
      <form name="formulario"   data-ng-submit="vm.login(vm.usuario)">
        <div class="form-group">
          <label for="">Nome</label>
          <input type="text" class="form-control" data-ng-model="vm.usuario.nome"  />
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" class="form-control" data-ng-model="vm.usuario.email" />
        </div>

        <button type="submit" class="btn btn-primary btn-lg">
        FICA GRANDE PORRA
      </button>
      </form>
    </div>
  </div>

</div>
